parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between int and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Console/Commands/CleanTempUploads.php

		-
			message: '#^Method App\\Http\\Controllers\\Admin\\DatabaseController\:\:table\(\) should return Illuminate\\View\\View but returns Illuminate\\Http\\RedirectResponse\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Admin/DatabaseController.php

		-
			message: '#^Method App\\Http\\Controllers\\Api\\ChatController\:\:extractIntent\(\) has parameter \$response with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Controllers/Api/ChatController.php

		-
			message: '#^Method App\\Http\\Controllers\\Api\\ComplaintApiController\:\:index\(\) should return Illuminate\\Http\\JsonResponse but returns Illuminate\\Http\\Resources\\Json\\AnonymousResourceCollection\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Api/ComplaintApiController.php

		-
			message: '#^Method App\\Http\\Controllers\\Api\\ComplaintApiController\:\:show\(\) should return Illuminate\\Http\\JsonResponse but returns App\\Http\\Resources\\ComplaintResource\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Api/ComplaintApiController.php

		-
			message: '#^Method App\\Http\\Controllers\\Api\\SearchApiController\:\:search\(\) should return Illuminate\\Http\\JsonResponse but returns Illuminate\\Http\\Resources\\Json\\AnonymousResourceCollection\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/Api/SearchApiController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: app/Http/Controllers/Web/PageController.php

		-
			message: '#^Call to static method read\(\) on an unknown class Intervention\\Image\\Laravel\\Facades\\Image\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/Web/UploadController.php

		-
			message: '#^Method App\\Http\\Requests\\StoreComplaintRequest\:\:messages\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Http/Requests/StoreComplaintRequest.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$attachments\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$lat\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$lng\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$location\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$notes\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$reporter_email\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$reporter_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$reporter_phone\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$statusHistories\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$title\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ComplaintResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/ComplaintResource.php

		-
			message: '#^Method App\\Models\\Attachment\:\:complaint\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Attachment.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Attachment\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Note\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\StatusHistory\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Method App\\Models\\Complaint\:\:attachments\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Attachment\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Attachment, \$this\(App\\Models\\Complaint\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Method App\\Models\\Complaint\:\:notes\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Note\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Note, \$this\(App\\Models\\Complaint\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Method App\\Models\\Complaint\:\:scopeInBehandeling\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Method App\\Models\\Complaint\:\:scopeOpen\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Method App\\Models\\Complaint\:\:scopeOpgelost\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Method App\\Models\\Complaint\:\:scopeRecent\(\) has parameter \$query with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Method App\\Models\\Complaint\:\:statusHistories\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\StatusHistory\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\StatusHistory, \$this\(App\\Models\\Complaint\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Complaint.php

		-
			message: '#^Method App\\Models\\Note\:\:complaint\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Note.php

		-
			message: '#^Method App\\Models\\Note\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/Note.php

		-
			message: '#^Method App\\Models\\StatusHistory\:\:complaint\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/StatusHistory.php

		-
			message: '#^Method App\\Models\\StatusHistory\:\:user\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\BelongsTo does not specify its types\: TRelatedModel, TDeclaringModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Models/StatusHistory.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Note\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/User.php

		-
			message: '#^Generic type Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\StatusHistory\> in PHPDoc tag @return does not specify all template types of class Illuminate\\Database\\Eloquent\\Relations\\HasMany\: TRelatedModel, TDeclaringModel$#'
			identifier: generics.lessTypes
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:notes\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Note\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\Note, \$this\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Models\\User\:\:statusHistories\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\StatusHistory\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Models\\StatusHistory, \$this\(App\\Models\\User\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Models/User.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:generateResponse\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getAppsInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getComplaintSubmissionInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getContactInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getDebtHelpInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getEmergencyInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getEventsInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getExtractInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getFAQOverview\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getGeneralHelp\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getGreeting\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getKlachtIdHelp\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getLocationInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getMarriageInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getMovingInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getMyMunicipalityInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getOpeningHours\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getParkingInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getPassportInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getRecyclingCenterInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getSocialBenefitsInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getStatusInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getTaxInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getTaxReliefInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getThankYou\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getTrafficInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Method App\\Services\\ChatbotService\:\:getWasteInfo\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Property App\\Services\\ChatbotService\:\:\$knowledgeBase \(array\<string, array\<string, mixed\>\>\) does not accept array\<string, array\<int\|string, array\<string, string\>\|string\>\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Services/ChatbotService.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Database\\Factories\\UserFactory\:\:definition\(\) should be compatible with return type \(array\<model property of App\\Models\\User, mixed\>\) of method Illuminate\\Database\\Eloquent\\Factories\\Factory\<App\\Models\\User\>\:\:definition\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: database/factories/UserFactory.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: tests/Pest.php
